* {
padding: 0%;
margin: 0%;
}
img {
max-width: 100%;
}

header {
background-color: aliceblue;
}
nav {
display: flex;
justify-content: space-between;
max-width: 1200px;
margin: auto;
padding: 20px;
}
.list-item{
display: flex;
justify-content: space-between;
list-style: none;
gap: 20px;
align-items: center;
}
.common-btn {
background-color: #1D4ED8;
padding: 12px;
text-align: center;
border-radius: 10px;
border: none;
color: white;
cursor: pointer;
}